.home {
  position: relative;
}
.home .background {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/images/puff.png);
  background-position: bottom 1rem right 1rem;
  background-repeat: no-repeat;
  background-size: 400px;
  pointer-events: none;
}

.home main {
  padding: 0;
}

.home main .hero {
  padding: 10rem 1rem;
  background: var(--contrast);
  text-align: center;
}

.home main .hero h1 {
  font-size: 10rem;
}

.home main .hero h2 {
  font-size: 2.5rem;
  font-weight: 300;
}

.home section {
  padding: 1rem;
}

.home section p {
  max-width: 80ch;
  line-height: 1.8;
  font-size: 1.25rem;
}

@media only screen and (max-width: 1315px) {
  .home section {
    padding-bottom: 410px;
  }
}
