.hero {
  padding: 6rem 1rem;
  background: var(--contrast);
  text-align: center;
}

.hero h1 {
  font-size: 5em;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.hero h2 {
  font-size: 1.5em;
  font-weight: 300;
}

section {
  padding: 2rem 0;
}

p {
  max-width: 80ch;
  line-height: 1.5;
  font-size: 1.1em;
}

.intro div:first-child {
  margin-bottom: 2rem;
}

.intro div:nth-child(2) {
  text-align: center;
}

@media only screen and (min-width: 39.75em) {
  .hero {
    padding: 8rem 1rem;
  }
}

@media only screen and (min-width: 53.625em) {
  .hero h1 {
    font-size: 7em;
  }

  .hero h2 {
    font-size: 2em;
  }

  .intro {
    display: flex;
    justify-content: center;
  }

  .intro div:first-child {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 67.5em) {
  .hero h1 {
    font-size: 9em;
  }

  .hero h2 {
    font-size: 2.25em;
  }

  .intro-image {
    margin-top: -9rem;
  }
}
