.home {
  background-image: url(/assets/images/puff.png);
  background-position: bottom 1rem right 1rem;
  background-repeat: no-repeat;
  background-size: 400px;
}

.home main {
  padding: 0;
}

.home main header {
  padding: 10rem 1rem;
  background: var(--contrast);
  text-align: center;
}

.home main header h1 {
  font-size: 10rem;
}

.home main header h2 {
  font-size: 2.5rem;
  font-weight: 300;
}

.home section {
  padding: 1rem;
}

.home section p {
  max-width: 80ch;
  line-height: 1.8;
  font-size: 1.25rem;
}

@media only screen and (max-width: 1315px) {
  .home section {
    padding-bottom: 410px;
  }
}
