@font-face {
  font-family: 'Inria Serif';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/InriaSerif-Regular.woff2') format('woff2'),
    url('/assets/fonts/InriaSerif-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/InriaSans-Regular.woff2') format('woff2'),
    url('/assets/fonts/InriaSans-Regular.woff') format('woff');
}

:root {
  --primary: #fafafa;
  --secondary: #a4a4a4;
  --highlight: #282828;
  --background: #1c1c1c;
  --contrast: #191919;
  --font-text: 'Inria Sans', sans-serif;
  --font-heading: 'Inria Serif', sans-serif;
}

* {
  color: var(--primary);
  font-family: var(--font-text);
}

body {
  background-color: var(--background);
  font-size: 18px;
  padding: 0;
  margin: 0;
}

header {
  padding: 1rem 0;
}

main {
  min-height: calc(100vh - 52.7px - 36.7px);
}

footer {
  padding: 0.5rem 0;
}

a {
  color: var(--secondary);
  text-decoration: none;
  border-bottom: 1px solid var(--secondary);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-family: var(--font-heading);
}

/** page layout */

nav,
footer,
header,
main {
  padding-left: 1rem;
  padding-right: 1rem;
}

/** navbar */

header nav {
  padding-left: 0;
}

nav ul {
  list-style: none;
  display: flex;
  padding-left: 0;
}

nav ul li {
  padding-left: 0;
  margin-right: 0.5em;
}

nav ul li a {
  text-decoration: none;
  color: var(--primary);
  border-bottom: 0.5px solid var(--secondary);
}
