@font-face {
  font-family: 'Inria Serif';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/inriaserif-regular.woff2') format('woff2'),
    url('/assets/fonts/inriaserif-regular.woff') format('woff');
}

@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/inriasans-regular.woff2') format('woff2'),
    url('/assets/fonts/inriasans-regular.woff') format('woff');
}

@font-face {
  font-family: 'Inria Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/inriasans-italic.woff2') format('woff2'),
    url('/assets/fonts/inriasans-italic.woff') format('woff');
}

@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/inriasans-bold.woff2') format('woff2'),
    url('/assets/fonts/inriasans-bold.woff') format('woff');
}

:root {
  --shade1: #fafafa;
  --shade2: #a4a4a4;
  --shade3: #282828;
  --shade4: #1c1c1c;
  --shade5: #191919;
  --font-text: 'Inria Sans', sans-serif;
  --font-heading: 'Inria Serif', serif;
}

body {
  --background: var(--shade1);
  --primary: var(--shade5);
  --secondary: var(--shade4);
  --hint: var(--shade2); /** todo: needs adjustment */
  --contrast-background: var(--shade5);
  --contrast-foreground: var(--shade1);
  --contrast-secondary: var(--shade2);
  --contrast-hint: var(--shade3);
}

body[data-theme='dark'] {
  --background: var(--shade4);
  --primary: var(--shade1);
  --secondary: var(--shade2);
  --hint: var(--shade3);
  --contrast-background: var(--shade1);
  --contrast-foreground: var(--shade5);
  --contrast-secondary: var(--shade4);
}

* {
  color: var(--primary);
  font-family: var(--font-text);
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
  font-size: 1.125rem;
  min-width: 20em;
}

main {
  min-height: calc(100vh - (18px + 2rem) - (15px + 2rem));
}

footer {
  padding: 0.5rem 0;
}

a {
  color: var(--secondary);
  text-decoration: none;
  border-bottom: 1px solid var(--secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

p {
  margin-bottom: 1rem;
}

/** page layout */
header,
footer {
  padding-left: 1rem;
  padding-right: 1rem;
}

/** navbar */
nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 1rem;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: var(--primary);
  padding: 1rem 0;
  border-bottom: 0;
}

nav span {
  border-bottom: 0.5px solid var(--secondary);
}

/* utility classes */
.sr-only {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.focusable:focus {
  background-color: var(--primary);
  color: var(--contrast-foreground);
  opacity: 1;
  padding: 1rem;
  pointer-events: initial;
}
