#main article {
  padding: 1rem;
  max-width: 80ch;
  margin: auto;
  line-height: 1.4;
}

#main article .thumb {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#main article .thumbinner {
  margin: auto;
}

#main article .thumbcaption {
  font-size: 0.8em;
}

#main a {
  border-bottom: 1px solid var(--highlight);
}

#main .mw-editsection,
#main sup {
  display: none;
}

#toc ul {
  padding: 0.5rem 1rem;
}
