h1,
figure {
  margin-bottom: 1rem;
}

.rachmaninoff-image {
  height: 40vh;
}

.palette {
  display: flex;
}
.palette div {
  width: 100px;
  height: 300px;
  background-color: currentColor;
  margin-right: 0.5em;
}

.primary {
  color: var(--primary);
}
.secondary {
  color: var(--secondary);
}
.highlight {
  color: var(--highlight);
}
.contrast {
  color: var(--contrast);
}
.background {
  color: var(--background);
}
