h1,
figure {
  margin-bottom: 1rem;
}

.rachmaninoff-image {
  height: 40vh;
}

.palette {
  display: flex;
}
.palette div {
  width: 100px;
  height: 300px;
  background-color: currentColor;
  margin-right: 0.5em;
}

.shade1 {
  color: var(--shade1);
}
.shade2 {
  color: var(--shade2);
}
.shade3 {
  color: var(--shade3);
}
.shade4 {
  color: var(--shade4);
}
.shade5 {
  color: var(--shade5);
}

#main article {
  max-width: 80ch;
  margin: auto;
}
